Map.html
Restaurants.txt
POIS.txt
ClusterMap.html
clustering_POIS.txt
chosen_poi.txt
WalkableMapORS.html
walkable_ors.txt
WalkableMapOSRM.html
walkable_osrm.txt
day_in_a_life.txt
day_in_a_life_old.txt
random_poi.txt
walkable_overpass.txt